html{
    height:100%;
}

body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    background-color:#6A7CA7 ;
}

#libraryContainer{
    width:60%;
    height:100%;
    margin:auto;
    background-color: #BE7C9C;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    align-content: flex-start;
    overflow:scroll;
}

.bookCard{
    height:20%;
    width:20%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis:20%;
    margin:5px 5px;
}